@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/spacing.scss";

.loading-container {
  position: fixed;
  width: $screen_size_width;
  height: $screen_size_height;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.page-load {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png"),
    linear-gradient(to bottom, #060606 0%, #141414 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: fadeOutPage 4s ease-out forwards;
  z-index: 2;
}

.page-load-text {
  display: flex;
  color: $secondary_color;
  font-family: $primary_font;
  font-size: 2em;
  gap: 16px;
  letter-spacing: 1.6px;
}

.text-1 {
  font-weight: 200;
  overflow: hidden;
  color: green;
  border-right: 0.1em solid green;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(20, end) forwards, blink 0.8s infinite,
    fadeOutText1 3.6s linear forwards;
}

.TV-on {
  position: absolute;
  width: $screen_size_width;
  height: $screen_size_height;
  border-radius: 20px;
  background-color: #fff;
  animation: tvOn 0.8s linear forwards;
  animation-delay: 3s;
}

@keyframes fadeOutText1 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutPage {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tvOn {
  0% {
    transform: scale(1, 0.01);
    opacity: 1;
  }
  80% {
    transform: scale(1, 0.01);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: green;
  }
}
