@import "../../styles/spacing.scss";
@import "../../styles/media-sizes.scss";

.court {
  position: absolute;
  width: 100%;
  height: 94%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0.2);
  text-align: center;
}

.court:before {
  left: 50%;
  content: "";
  height: 100%;
  position: absolute;
  border-left: 4px dashed #3f3;
  transform: translate(-50%);
}

.score {
  color: #3f3;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  text-shadow: none;
}

.score b {
  padding: $padding;
}

.horizontal {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: smoothbounceball 3s infinite alternate linear;
}

.ballWrapper {
  position: absolute;
  width: calc(99% - 12px);
  height: 12px;
  animation: leftright 4s infinite alternate linear;
}

.ball {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #3f3;
  border-radius: 50%;
}

.playerOne,
.playerTwo {
  background: #3f3;
  position: absolute;
  width: 7px;
  height: 6%;
  transform: translate(0, -40%);
}

.playerOne {
  left: 1%;
}

.playerTwo {
  right: 1%;
}

@keyframes leftright {
  from {
    transform: translate(1%, 0);
  }
  to {
    transform: translate(100%, 0);
  }
}

@keyframes smoothbounceball {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, calc(100% - 12px));
  }
}

@media only screen and (max-width: $tablet) {
  @keyframes leftright {
    from {
      transform: translate(1%, 0);
    }
    to {
      transform: translate(100%, 0);
    }
  }
}
