@import "../../styles/colors.scss";
@import "../../styles/spacing.scss";
@import "../../styles/media-sizes.scss";

.tvContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tvBorder {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(178deg, #141414 0%, #141414 100%);
  pointer-events: none;
  padding: 40px;
  padding-bottom: 0;
}

@media only screen and (max-width: $tablet) {
  #tvBorder {
    padding: $small_padding;
  }
}
