@import "../../styles/colors.scss";
@import "../../styles/spacing.scss";

.tv-container {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.tv__details {
  width: 90%;
  position: fixed;
  bottom: 0.5%;
  padding-bottom: 1%;
  display: flex;
  align-items: center;
}

.tv__info {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
}

.tv__info h3 {
  color: #b5b6b0;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.4rem;
}

.tv__audio {
  height: 30px;
  width: 20%;
  border-radius: 30px;
  background-image: linear-gradient(
      45deg,
      #242424 25%,
      transparent 25% 75%,
      #161616 75%
    ),
    linear-gradient(-45deg, #282828 25%, transparent 25% 75%, #000 75%);
  background-size: 5px 5px;
  flex: 1;
}

.tv__controls {
  position: relative;
  right: 0;
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: end;
}

.power-icon {
  height: 12px;
  width: 12px;
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
}

.power-light {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #000000, 0 0 14px 2px #030303, 0 0 9px 2px #000;
  background-color: #000000;
  margin-bottom: 6px;
  animation: powerLightOn 0.2s linear forwards;
  animation-delay: 3.5s;
}

.power-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 14px;
}

.tv-button {
  border-radius: 50%;
  background-color: #424140;
  width: 34px;
  height: 34px;
  border: 1px solid;
  box-shadow: inset 0px 0px 8px black;
  margin-bottom: 6px;
}

.tv-button:active {
  background-color: #404040;
  border: 1px solid;
  box-shadow: inset 2px 2px 21px black;
}

.button-shine {
  position: relative;
}

.button-shine::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 13px;
  border-radius: 100%;
  border: 0 solid #505050;
  border-width: 0 3px 0 0;
  top: -8px;
  left: 3px;
}

.effects-button-label {
  color: #b5b6b0;
}

#tv-border {
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(178deg, #141414 0%, #141414 100%);
  display: flex;
  justify-content: center;
  pointer-events: none;
}

#border-effect {
  position: fixed;
  width: $screen_size_width;
  height: $screen_size_height;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid;
}

#effects {
  position: fixed;
  width: $screen_size_width;
  height: $screen_size_height;
  background: linear-gradient(to bottom, #85908c 0%, #323431 100%);
  background-repeat: no-repeat;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.retro-effects::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  border-radius: 20px;
}

@keyframes powerLightOn {
  0% {
  }
  100% {
    box-shadow: 0 0 4px 2px #fff, 0 0 14px 2px #f00, 0 0 9px 2px #f00;
    background-color: #fff;
  }
}
