.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2%;
}

.tvButton {
  border-radius: 50%;
  background-color: #424140;
  width: 34px;
  height: 34px;
  border: 1px solid;
  box-shadow: inset 0px 0px 8px black;
  margin-bottom: 6px;
}

.tvButton:active {
  background-color: #404040;
  border: 1px solid;
  box-shadow: inset 2px 2px 21px black;
}

.buttonShine {
  position: relative;
}

.buttonShine::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 13px;
  border-radius: 100%;
  border: 0 solid #6e6e6e;
  border-width: 0 3px 0 0;
  top: -8px;
  left: 3px;
}

.effectsButtonLabel {
  color: #b5b6b0;
}
