@import "../styles/colors.scss";
@import "../styles/spacing.scss";
@import "../styles/media-sizes.scss";

.pageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: $padding;
  align-self: stretch;
  pointer-events: all;
}

.mainContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: $secondary_color;
  width: 100%;
}

.contentContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 900px;
}

.contactContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.innerTextContainer {
  width: 75%;
  text-align: left;
  padding: 20px;
  border-radius: 4px;

  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.46);
}

.subHeading {
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 16px;
}

.contentText {
  margin: 0;
  a {
    color: $secondary_color;
  }
}

@media only screen and (max-width: $tablet) {
  .pageContainer {
    padding: $small_padding;
  }

  .mainContainer {
    align-items: unset;
  }

  .contentContainer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .contactContainer {
    //max-width: unset;
    //width: 100%;
    //flex: none;

    display: none;
  }

  .innerTextContainer {
    width: 100%;
    padding: 10px;
  }

  .subHeading {
    font-size: 1.1rem;
  }

  .contentText {
    font-size: 0.8rem;
  }
}
