@import "../styles/spacing.scss";
@import "../styles/colors.scss";
@import "../styles/spacing.scss";
@import "../styles/media-sizes.scss";

.pageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: $padding;
  align-self: stretch;
  pointer-events: all;
}

.mainContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: $secondary_color;
  width: 100%;
  gap: 20px;
}

@media only screen and (max-width: 1220px) {
  .pageContainer {
    padding: $small_padding;
    padding-left: 0;
    padding-right: 0;
  }

  .mainContainer {
    justify-content: start;
    overflow: scroll;
    gap: 10px;
    padding: 0 $small_padding 0 $small_padding;
  }
}
