@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  z-index: 1;
}

.header-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-family: $secondary_font;
}

.effects-button {
  color: $primary_color;
}

.nav-content {
  color: $secondary_color;
}
