@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/spacing.scss";

.header-container {
  position: fixed;
  left: calc($padding * 3);
  top: calc($padding * 2);
  z-index: 1;
}

.name-heading {
  font-family: $primary_font;
  font-size: 6em;
  letter-spacing: 1.6px;
  font-weight: 400;
  margin: 0;
}

.short-description {
  margin: 0;
  font-family: $primary_font;
  font-size: 2em;
  font-weight: 200;
}

.effects-button {
  color: $primary_color;
}
