@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  z-index: 1;
}

.footer-wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-family: $secondary_font;
}

.footer-content {
  color: $secondary_color;
  font-family: $secondary_font;
}
