@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.footerContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footerContent {
  color: $secondary_color;
  font-family: $secondary_font;
}
