@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.footer-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.footer-content {
  color: $secondary_color;
  font-family: $secondary_font;
}
