@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/spacing.scss";

.footer {
  position: relative;
  padding: (calc($padding * 2));
  z-index: 1;
}

.footer-content {
  color: $secondary_color;
  font-family: $secondary_font;
}
