@import "../styles/spacing.scss";
@import "../styles/colors.scss";

.content-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: $screen_size_width;
  height: $screen_size_height;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: $padding;
}

.main-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: $secondary_color;
}

.text-glow {
  text-shadow: 0 0 4px black;
}
