@import "./styles/colors.scss";
@import "./styles/spacing.scss";

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: white;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar:hover {
  background-color: rgb(46, 46, 46);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgb(46, 46, 46);
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgb(61, 61, 61);
  -webkit-border-radius: 10px;
}
