.clickableIconLink {
  margin: 14px;
}

.clickableIconImage {
  display: block;
  width: 40px;
  height: 40px;
  fill: #fdfdfd;
  transition: 0.2s;
}

.clickableIconImage:hover {
  fill: rgb(182, 182, 182);
}
