@import "../../styles/colors.scss";
@import "../../styles/media-sizes.scss";

.clickableIconLink {
  margin: 14px;
}

.clickableIconImage {
  display: block;
  width: 40px;
  height: 40px;
  fill: $secondary_color;
  transition: 0.2s;
}

.clickableIconImage:hover {
  fill: rgb(182, 182, 182);
}

@media only screen and (max-width: $tablet) {
  .clickableIconLink {
    margin: 7px;
  }

  .clickableIconImage {
    width: 30px;
    height: 30px;
  }
}
