@import "../../styles/spacing.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.projectCard {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  color: $secondary_color;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  flex-direction: column;
  text-align: center;

  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.46);
}

.projectImage {
  flex: 1;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.projectTitle {
  margin: 10px 0 10px 0;
}

.projectStack {
  margin: 10px 0 10px 0;
}

.projectDescription {
  margin: 10px 0 10px 0;
}

.buttonWrapper {
  display: flex;
  margin: 10px 0 10px 0;
}

.button {
  font-family: $primary_font;
  text-transform: uppercase;
  margin: 0 10px 0 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s;
  font-weight: bold;
  font-size: 0.8rem;
}

.button:hover {
  background-color: rgb(182, 182, 182);
}
