@import "../../styles/spacing.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/media-sizes.scss";

.projectCard {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 450px;
  max-width: 400px;
  min-width: 260px;
  color: #fbfbfb;
  border-radius: 4px;
  margin: 0;
  padding: $small_padding;
  flex-direction: column;
  text-align: center;

  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.46);
}

.imageContainer {
  margin-bottom: 20px;
}

.loadingText {
  margin: 0;
  font-size: 0.6rem;
}

.projectImage {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.projectContent {
  display: flex;
  flex: 1 0 25%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.projectTitle {
  font-size: 1.4rem;
  margin: 0;
}

.projectStack {
  font-size: 1rem;
  margin: 10px 0 10px 0;
}

.projectDescription {
  font-size: 0.9rem;
  margin: 10px 0 10px 0;
}

.buttonWrapper {
  display: flex;
  margin: 0;
  margin-top: 10px;
}

.button {
  font-family: $primary_font;
  text-transform: uppercase;
  margin: 0 10px 0 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s;
  font-weight: bold;
  font-size: 0.8rem;
}

.button:hover {
  background-color: rgb(182, 182, 182);
}

@media only screen and (max-width: $tablet) {
  .projectCard {
    min-height: 400px;
    padding: 10px;
  }

  .projectStack {
    font-size: 0.9rem;
  }

  .projectTitle {
    font-size: 1rem;
  }

  .projectDescription {
    font-size: 0.8rem;
  }
}

@media only screen and (max-height: 600px) {
  .projectCard {
    min-height: 400px;
    padding: 10px;
  }
}
